.cyberquiz-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-top: 200px;
}

.cyberquiz-title {
    font-size: 40px;
    font-weight: 700;
    color: white;
}

.cyberquiz-description {
    font-size: 20px;    
    color: rgb(160, 160, 160);
    margin-bottom: 20px;
    width: 800px;
}

.quiz-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}

.intro-image {
    height: 300px;
    width: 300px;
}

.intro-start {
    font-size: 20px;
    font-weight: 600;
    padding: 15px 50px;
    border-radius: 30px;
    background: none;
    color: white;
    cursor: pointer;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-dark-hover);
    border-bottom: 6px solid var(--primary-dark-hover);
}

.intro-start:active {
    border-bottom: 2px solid var(--primary-hover);
}

.quiz-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: white;
    margin-top: 50px;
    width: 800px;
}

.progress-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.quit-icon {
    font-size: 35px;
    font-weight: 800;
    color: rgb(100, 100, 100);
    cursor: pointer;
}

.quit-icon:hover {
    color: rgb(150 , 150, 150);
}

.progress-bar-father {
    display: flex;
    height: 18px;
    width: 100%;
    background-color: rgb(53, 53, 53);
    border-radius: 30px;
}

.progress-bar-child {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 0%;
    background-color: var(--primary-color);
    border-radius: 30px;
    transition: width 0.5s;
}

.progress-bar-grandchild {
    margin-top: 4px;
    height: 20%;
    width: 90%;
    background-color: var(--primary-light-hover);
    border-radius: 30px;
}

.heart-icon {
    height: 30px;
    width: 30px;
}

.lives-span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(250, 0, 0);
    font-size: 25px;
    font-weight: 700;
    gap: 5px;
}

.topic-container {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.topic-image {
    height: 40px;
    width: 40px;
}

.topic {
    text-align: left;
    color: blueviolet;
    font-weight: 900;
    font-size: 22px;
}

.question {
    width: 100%;
    text-align: left;
    font-size: 30px;
    font-weight: 600;
    user-select: none;
}

.options-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.option {
    color: rgb(200, 200, 200);
    font-size: 20px;
    font-weight: 600;
    padding: 15px 20px;
    width: calc(80% - 40px);
    border: 1px solid rgb(100, 100, 100);
    border-bottom: 5px solid rgb(100, 100, 100);
    border-radius: 15px;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.1s;
    user-select: none;
}

.option:hover {
    background-color: rgb(30, 30, 30);
}

.option-clicked {
    border: 1px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.explanation {
    color: gray;
}

.quiz-buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.quiz-button {
    padding: 15px 50px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 20px;
    border: none;
    background: none;
    color: white;
    cursor: pointer;
    border: 2px solid var(--primary-dark-hover);
    border-bottom: 5px solid var(--primary-dark-hover);
    user-select: none;
}

.quiz-button:active {
    border: 2px solid var(--primary-dark-hover);
    border-bottom: 2px solid var(--primary-dark-hover);
}

.check {
    background-color: var(--primary-hover);
}

.correct {
    border: 2px solid rgb(0, 100, 0);
    border-bottom: 6px solid rgb(0, 100, 0);
    background-color: rgb(0, 150, 0);
}

.wrong {
    border: 2px solid rgb(150, 0, 0);
    border-bottom: 6px solid rgb(150, 0, 0);
    background-color: rgb(100, 0, 0);
}

@media only screen and (max-width: 1000px) {
    .cyberquiz-section {
        width: 90%;
    }

    .cyberquiz-description {
        width: 100%;
    }

    .quiz-container {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .cyberquiz-title {
        font-size: 30px;
    }

    .cyberquiz-description {
        font-size: 18px;
    }

    .topic-image {
        width: 30px;
        height: 30px;
    }

    .topic {
        font-size: 15px;
    }

    .question {
        font-size: 20px;
    }

    .options-container {
        gap: 5px;
    }

    .option {
        font-size: 15px;
        width: 90%;
    }

    .lives-span {
        font-size: 20px;
    }

    .heart-icon {
        height: 25px;
        width: 25px;
    }

    .explanation {
        font-size: 18px;
    }

    .quiz-button {
        font-size: 18px;
        padding: 10px 40px;
    }

    .quiz-buttons-container {
        margin-top: -20px;
    }
}